{% extends 'home.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center mb-4">Favorite Recipes</h1>
    <div class="row">
      <div class="col-12">
        <table id="fav-recipes" class="table table-light">
          <thead class="bg-danger">
            <tr>
              <th scope="col">Recipe</th>
              <th scope="col">View</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody class="list-favorites"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
