{% extends 'register.html' %} {% block title %} Login {% endblock %} {% block
content %}
<body>
  <div class="sign-up">
    <h1 class="title-heading">Login</h1>
    <form method="POST" class="user_form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {{ field.label(class_="form_lable") }} {{
      field(class_="form_input") }} {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %} {% endfor %}

      <button type="submit" class="submit-btn">Submit</button>
      <a href="/" class="cancel-btn">Cancel</a>
    </form>
  </div>
</body>
{% endblock %}
